<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All Employees List</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body bgcolor="#99CC66">

<div class="container">

    <div class="row">
        <div id="title">
            <h1>Employees List</h1>
        </div>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Designation</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="emp : ${list}">
                <td th:text="${emp.id}"></td>
                <td th:text="${emp.name}"></td>
                <td th:text="${emp.salary}"></td>
                <td th:text="${emp.designation}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>