<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All Employees List</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" href="../../static/css/main.css" th:href="@{/css/main.css}" type="text/css">
</head>
<body>

<div class="container">

    <div class="row">
        <div id="title">
            <h1>Employees List</h1>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Designation</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="result" data-th-each="emp : ${list}">
                <td th:text="${emp.id}"></td>
                <td th:text="${emp.name}"></td>
                <td th:text="${emp.salary}"></td>
                <td th:text="${emp.designation}"></td>

                <td class="action-td">
                    <form method="post" class="padding5px" th:action="#" th:action="@{/delete_emp}">
                        <input type="hidden" th:name="emp_id" th:value="${emp.id}">
                        <input type="submit" class="btn btn-danger"  value="Delete" >
                    </form>
                    <form method="post" class="padding5px" action="#" th:action="@{/edit_emp}">
                        <input type="hidden" th:name="emp_id" th:value="${emp.id}">
                        <input type="submit" class="btn btn-warning"  value="Edit">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <form method="post" action="test">
        <input type="submit" class="button" name="test" value="test"/>
    </form>
</div>
</body>
</html>